.tutorial-list {
    background: #000;
    padding: 60px 20px;
    display: grid;
    gap: 40px;
}

.tutorial-item h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.video-card {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    position: relative;
    background: #111;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #222;
    transition: .3s ease;
}

.video-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 25px rgba(68, 120, 255, 0.4);
    border-color: #3b82f6;
}

.video-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    opacity: 0.9;
    transition: .3s;
}

.video-card:hover img {
    opacity: 1;
}

.video-card span {
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: rgba(0,0,0,0.6);
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    backdrop-filter: blur(4px);
}

/* MODAL */
.video-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.video-modal-content {
    background: #000;
    padding: 0;
    border-radius: 16px;
    width: 90%;
    max-width: 650px;
    position: relative;
    box-shadow: 0 0 30px rgba(50, 110, 255, 0.4);
}

#videoFrame {
    width: 100%;
    height: 350px;
    border-radius: 16px;
}

#closeVideo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    z-index: 20;
  }
